/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* + * {
	margin-top: 1.5em;
}

/* Body */

body {
  margin: 0;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-family: var(--base-font-family); 
  /*font-size: var(--base-font-size);*/
  /*line-height: var(--base-line-height); */
  color: var(--base-color);
  background-color: var(--base-background);
  /* layout */
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
}

header[role=banner] {
  color: var(--banner-color);
  /* background-color: var(--banner-background); */
  /* background-image: url( '/assets/images/logo.png'); */
  /* background-position: 90% center; */
  /* background-repeat: no-repeat; */
  letter-spacing: 0.125em;
  /* flex child item */
  min-height: 10vh;
  /* flex-grow: 1; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* there is only one main */
main {
  width: 100%;
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
  --modifier: calc(60rem - 100%);
}

/**
 * for each item in main
 * display hozizontally if more than 60 rem
**/
main > * {
  max-width: 100%;
  flex-grow: 1;
  flex-basis: calc(var(--modifier) * 999);
}

article {
  background-color: var(--light4);
  margin-inline: auto;
  padding-inline: 1rem;
  font-size: var( --size-500); 
  max-width: 80ch;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
 color: var(--heading-color);
 font-family: var(--heading-font-family);
 font-weight: var(--heading-weight);
}

h1 {
  font-size: var( --size-900); 
}

h2 {
  font-size: var( --size-800); 
}

h3 {
 font-size: var(--size-700);
}

p + p {
margin-top: 0;
text-indent: 2em;
}

small, sub, sup {
  font-size: 75%; 
}

/* STANDOUT from surounding text */

figure, figcaption, blockquote {
  margin: 0;
}

blockquote {
  /*margin: 0;*/
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 1em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  padding-right: 0.8em;
  border-left: var(--quote-indicator);
  margin-bottom: 2.5rem;
  background-color: var(--quote-backgound) 
}

hr {
  border-color: #1d7484; 
}

/* MEDIA */

/* Make images easier to work with */
img, picture, video {
  max-width: 100%;
  display: block;
}

/* img, video { */
/*   height: auto; */
/*   max-width: 100%; */
/*   margin-top: 0px; */
/*   margin-bottom: 2.5rem; } */

/* LISTS and NAVIGATION */
/* anchors often combined with list */


ul[role='list'],
ol[role='list'] {
  list-style: none;
  background-color: var(--light2);
}

ul {
  margin: 0;
  padding-left: 1.4em;
  font-family: var(--list-font);
}

li + li {
	margin-top: 0;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
  color: var(--blue1); }
  a:hover {
    color: var(--blue2);
    border-bottom: 2px solid var(--blue3); }
  a:visited {
    color: var(--blue4); 
}
/*
pre, code {
  font-family: var( --code-font);
  color: var(--dark2);
  background: var(--light2);
  font-size: smaller;
}
*/


/* TABLES */
table {
  text-align: justify;
  width: 100%;
  border-collapse: collapse; 
}

td, th {
  padding: 0.5em;
  border-bottom: var(--table-row-indicator); 
}
