:root { /* https://htmlcolors.com/hex-to-hsl   https://www.color-name.com / */
  --dark1: hsl(231deg 26% 21% / 100%); /* #282a36  Gunmetal  code backgound */
  --dark2: hsl(231deg 26% 21% / 100%); /* #363428  Cola     complementary code background */
  --dark3: hsl(0deg 2% 38% / 100%); /*    #615F5F  Granite Gray */
  --dark4: hsl(359deg 0% 41% / 100%); /*  #696969  Dim Gray */
  --dark5: hsl(180deg 1% 63% / 100%); /*  #A0A1A1  Spanish Gray */
  --light1: hsl(219deg 28% 88% / 100%);   /* #D7D5C9  Timberwolf inverse of Gunmetal */
  --light2: hsl(201deg 203% 215% / 100%); /* #C9CBD7  American Silver */
  --light3: hsl(240deg 0% 98% / 100%);    /* #F7F7F4  Cultured */
  --light4: hsl(359deg 0% 99% / 100%);  /*   #FDFDFD  Lotion */
  --blue1: hsl(179deg 25% 65% / 100%); /* #8FBCBB */
  --blue2: hsl(193deg 43% 67% / 100%); /* #88C0D0 */
  --blue3: hsl(210deg 34% 63% / 100%); /* #81A1C1 */
  --blue4: hsl(213deg 32% 52% / 100%); /* #5e81ac */
  --red: hsl(354deg 42% 56% / 100%); /* #bf616a */
  --orange: hsl(14deg 51% 63% / 100%);  /* #d08770 */
  --yellow: hsl(40deg 71% 73% / 100%);  /* #EBCB8B */
  --green: hsl(86deg 54% 51% / 100%);/*   #8cc63f */
  --purple: hsl(311deg 20% 63% / 100%); /* #b48ead */
  --size-300: clamp(0.7rem, 0.66rem + 0.2vw, 0.8rem);
  --size-400: clamp(0.88rem, 0.83rem + 0.24vw, 1rem);
  --size-500: clamp(1.09rem, 1rem + 0.47vw, 1.33rem);
  --size-600: clamp(1.37rem, 1.21rem + 0.8vw, 1.78rem);
  --size-700: clamp(1.71rem, 1.45rem + 1.29vw, 2.37rem);
  --size-800: clamp(2.14rem, 1.74rem + 1.99vw, 3.16rem);
  --size-900: clamp(2.67rem, 2.07rem + 3vw, 4.21rem);
  --size-1000: clamp(3.34rem, 2.45rem + 4.43vw, 5.61rem);
  --base-background: var(--light3);
  --base-color: var(--dark4);
  --base-font-family: "IBM Plex Serif", "Georgia", times, serif;
  --base-font-size: size 700;
  --base-font-weight: 400a;

  --base-line-height: 1.5;
  --flow-spacer: 1:rem;
  /* BANNER */
  --banner-color: var(--light2);
  --banner-background: var(--light2);

  /* HEADINGS */

  --heading-font-family: "IBM Plex Sans", "Helvetica Neue", arial, sans-serif;
  --heading-color: var(--green);
  --heading-weight: 700;
  --heading-margin: 0 0 1rem;

  /* CODE BLOCK HIGHLIGHTING */
  --code-font: "IBM Plex Mono", "Menlo", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", courier, monospace;

  /* QUOTES */
  --quote-backgound: var(--light2);
  --quote-indicator: 5px solid var(--blue1);

  /* LISTS *:/
  --list-font: "IBM Plex Sans Condensed", "Helvetica Neue", arial, sans-serif;

  /* TABLES */
  --table-row-indicator: 1px solid #f1f1f1;

  /* NAVIGATION */
  --nav-background: var(--light2);

  /* NAVIGATION HYPERLINKS */
  --link-color: var(--blue4);
  --link-highlight: var(--green);
}
