# https://docs.github.com/en/actions/learn-github-actions/expressions
name: CI
on:
  push:
    branches: 'main'
  pull_request:
    branches: 'main'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: checkout repo
      uses: actions/checkout@v3
    - name: podman info
      run: |
        podman version
    - name: xqerl up and flying
      run: make up
    - name: checks - ps, log, top
      run: |
        podman ps --pod --all
        printf %60s | tr ' ' '-' && echo
        podman logs xq | grep -oP "started_at: 'xqerl@127.0.0.1'"
        printf %60s | tr ' ' '-' && echo
        podman top xq
    - name: build site from sources
      run: make
    - name: check - installed xQuery library modules
      run: make code-library-list
    - name: check - XDM items in xqerl database
      run: make data-domain-list
    - name: restXQ routing check
      run: make curl
    - name:  check - deploy dir
      run: ls -al _deploy
    - name: bring pod down
      run: make down
    - name: add example.com to '/etc/hosts' file
      run: make hosts
    - name: bring pod up
      run: make up
    - name: xqerl-database Volume check - db has items
      run: make data-domain-list
    - name: xqerl-code Volume check -  listed library modules
      run: make code-library-list
    - name: restXQ routing check
      run: make dump
    - name: bring pod down
      run: make down

